<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB PUSH</title>
</head>

<body>
    <h2>FCM MESSAGING</h2>
    <button id="token">GET TOKEN</button>
    <p id="token-info"></p>
    <br><br>
    <button id="sub">SUBSRIBE</button>
    <br><br>

    <input type="text" id="title" value="title">
    <br>
    <input type="text" id="body" value="body">
    <br>
    <button id="push">PUSHALL</button>

    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>
    <script src="/main.js"></script>
</body>

</html>